<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <header>
        <h1 class="logo">Find Your Restaurant</h1>
        <a id="menu" class="header-menu">☰</a>
        <nav id="drawer">
            <ul class="nav-list">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="#">Favorite</a></li>
                <li class="nav-item"><a href="https://id.linkedin.com/in/natura-adn">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero">
            <div class="hero-inner">
                <h1 class="hero-title">Welcome to<br><span>Find Your Restaurant</span></h1>
                <p class="hero-tagline">Kami menyediakan beberapa spot Restaurant ataupun Cafe rekomendasi untuk anda.
                    Penasaran? Mari Mulai.</p>
            </div>
        </div>
    </main>
</body>

</html>